doctype html
html
  head
    title Game Tips
    link(rel="stylesheet", href="/style.css")
  body
    h1 Game Tips
    table
      thead
        tr
          th ID
          th Author
          th Title
          th Description
          th Game
      tbody
        each item in data
          tr
            td= item.id
            td= item.author
            td= item.title
            td= item.description
            td= item.game
